input,textarea{
    all: unset;
    border-radius: 5px;
    border-style: none;
    outline: solid 2px #828fa3;
    background-color: inherit;
    margin: 0.5rem 0;
    height: 2rem;
    padding: 0.2rem 0.5rem;
    font-size: 12px;
}

form{
    display: flex;
    flex-direction: column;
}

button{
    all: unset;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    height: 2rem;
    cursor: pointer;
    margin: 0.5rem 0;
}

label{
    font-size: 14px;
    font-weight: 600;
    color: #828fa3;
}

.columnsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalWrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.container{
    border-radius: 10px;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    width: 30%;
}

.error{
    color: red;
    font-size: 12px;
    margin: 0.5rem;
}

.inputWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputWrapper > input{
    min-width: 88%;
}
.inputWrapper > svg{
    cursor: pointer;
}

.description{
    height: 4rem;
}

.select{
    border-radius: 5px;
    border-style: none;
    outline: solid 2px #828fa3;
    background-color: inherit;
    margin: 0.5rem 0;
    height: 2rem;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
}

.dropContainer{
    position: relative;
}

.dropItem{
    cursor: pointer;
    font-size: 12px;
    margin: 0.2rem 0;
}

.selectDropdown{
    border-radius: 5px;
    list-style: none;
    position: absolute;
    bottom: calc(-width);
    width: 100%;
    padding: 0.5rem;
}