input,textarea{
    all: unset;
    border-radius: 5px;
    border-style: none;
    outline: solid 2px #828fa3;
    background-color: inherit;
    margin: 0.5rem 0;
    height: 2rem;
    padding: 0.2rem 0.5rem;
    font-size: 12px;
}
input:disabled{
    color: #828fa3;
}

input:focus{
    outline: solid 2px #635FC7;
}
textarea:focus{
    outline: solid 2px #635FC7;
}

form{
    display: flex;
    flex-direction: column;
}

button{
    all: unset;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    height: 2rem;
    cursor: pointer;
    margin: 0.5rem 0;
}

label{
    font-size: 14px;
    font-weight: 600;
    color: #828fa3;
}

.columnsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalWrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.container{
    border-radius: 10px;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    width: 30%;
    margin-bottom: 2rem;
    overflow-y: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: max-content;
}

.error{
    color: red;
    font-size: 12px;
    margin: 0.5rem;
}

.inputWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputWrapper > input{
    min-width: 88%;
}
.crossIcon{
    cursor: pointer;
    font-size: 16px;
    color: #828fa3;
}

.description{
    height: 4rem;
}

.select{
    border-radius: 5px;
    border-style: none;
    outline: solid 2px #828fa3;
    background-color: inherit;
    margin: 0.5rem 0;
    height: 2rem;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 12px;
}
.select:focus{
    outline: solid 2px #635FC7;
}

.openMenu{
    display: flex;
    align-items: center;
    justify-content:center;
    transition: transform 0.3s ease-in-out;
}

.rotate{
    transform: rotate(180deg);
}

.dropContainer{
    position: relative;
}

.dropItem{
    cursor: pointer;
    font-size: 12px;
    margin: 0.2rem 0;
}

.selectDropdown{
    border-radius: 5px;
    list-style: none;
    position: absolute;
    bottom: calc(-width);
    width: 100%;
    padding: 0.5rem;
}

/* Delete Modal Style */
.deleteTitle{
    font-size: 16px;
    font-weight: 600;
    color: #ea5555;
    margin: 0.5rem 0;
}

.deleteText{
    font-size: 12px;
    color: #828fa3;
    margin: 0.5rem 0;
}

.buttonsContainer{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}
.buttonsContainer > button{
    width: 47%;
}

/* Task Details style */
.titleContainer{
    position: relative;
    height: 2.2rem;
}

.par{
    font-size: 12px;
    margin: 0.5rem 0;
}
.subTitle{
    font-size: 12px;
    font-weight: 600;
}

.subTaskContainer{
    display: flex;
    align-items: center;
    margin: 0.2rem 0 0.8rem 0;
    padding: 0.1rem 0.5rem;
    height: 2rem;
    border-radius: 5px;
}

.checkContainer{
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 2px;
}