input{
    /* background-color: inherit; */
    border:solid 2px black;
    outline: black;
}

.modalContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modalContent{
    width: 30%;
    height: 50%;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    z-index: 3;
}

.modalBody{
    display: flex;
    flex-direction: column;
}