:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --dark-bg1: #2B2C37;
  --dark-color1:#ffffff;
  --light-bg1:#ffff;
  --light-color1:#000000;
  --dark-bg2:#20212C;
  --dark-color2:#ffffff;
  --light-bg2:#F4F7FD;;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.darkbg1{
  background-color: var(--dark-bg1);
  color:var(--dark-color1)
}

.lightbg1{
  background-color: var(--light-bg1);
  color:var(--light-color1)
}

.darkbg2{
  background-color: var(--dark-bg2);
  color:var(--dark-color2)
}

.lightbg2{
  background-color: var(--light-bg2);
  color:var(--light-color2)
}

.util{
  color: #828fa3;
}

